:root {
  /* Spotify Fanbase Styles */
  --spotify-color: #65d46e;
  --spotify-background-image: linear-gradient(
    to top,
    #121212,
    #232323,
    #04271a
  );

  /* Flytrex Styles */
  /* --flytrex-color: #242424; */
  --flytrex-background-image: #fff2c7;
}

/* Font styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
a {
  font-family: var(--font-sans-serif);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Mobile only element */
@media only screen and (min-width: 767px) {
  .mobile-only {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .desktop-only {
    display: none !important;
  }
}

/* Body styles */
body {
  --font-sans-serif: DM Sans, sans-serif;
  background-color: #fbfbfb;
  padding: 0 10%;
  line-break: auto;
  color: #333;
  margin-top: 2%;
}

/* Header styles */
.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0 0 0;
}

.header > * {
  flex: 0 0 auto; /* Remove the fixed size of the children */
}

.header img {
  width: 3rem;
}

.header a:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/* Logo styles */

.logo-link {
  display: inline-block;
  perspective: 2500px;
}

.logo-image {
  transition: transform 0.1s;
  transform-style: preserve-3d;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  justify-content: flex-end;
  flex-grow: 1;
}

nav i {
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  font-size: 1.5em;
}

nav i:hover {
  cursor: pointer;
  background-color: lightgray;
}

nav i:active {
  background-color: orange;
}

/* Icon styles */
i {
  color: #333;
}

/* Media Queries */
@media (max-width: 1000px) {
  .header img {
    width: 2.4rem;
  }

  .header i {
    margin: 0 0.1em;
    font-size: 1.4em;
  }
}

/* Project styles */

h1 {
  font-size: clamp(2rem, 12vw, 8rem);
  margin: 0;
}

h2 {
  font-size: clamp(1.4rem, 4vw, 3rem);
  max-width: 60%;
}

h3 {
  font-size: clamp(2rem, 3vw, 2rem);
}

h2,
h3 {
  margin: 0;
  color: #595959;
}

@media (max-width: 1000px) {
  body {
    padding: 0 4%;
  }

  h2 {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.spacer {
  flex: 1; /* Set flex property to 1 to distribute remaining space evenly */
  padding-top: 2vw; /* Adjust the percentage value as needed */
}

@media screen and (max-width: 1000px) {
  .spacer {
    padding-top: 10vw;
  }
}

.project-tag {
  text-align: center;
  letter-spacing: 0.4px;
  background-color: #eee;
  border-radius: 40px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  width: fit-content;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin: 5vw 0;
}

img {
  width: 100%;
}

/* Styles for the desktop image */
.desktop-image {
  display: block; /* Show the image on desktop */
}

/* Styles for the mobile image */
.mobile-image {
  display: none; /* Hide the image on mobile */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  /* Hide the desktop image on mobile */
  .desktop-image {
    display: none;
  }

  /* Show the mobile image on mobile */
  .mobile-image {
    display: block;
  }
}

video {
  width: 100%;
  border-radius: 10px;
}

.youtube-video {
  aspect-ratio: 16/9;
  width: 100%;
  border-radius: 10px;
  flex: 1;
  height: 0;
}

.project-gallery {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.flex-container {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  gap: 2vw;
}

.project-header {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.flex-item {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.flex-item img {
  border-radius: 10px;
  object-fit: contain;
  width: 100%;
  height: auto;
  flex-grow: 1;
}

#flex-caption {
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.figcaption {
  padding-top: 1rem;
  color: #595959;
}

/* Typo Gallery */
#gallery-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: space-between;
}

.column-gallery-flex {
  display: flex;
  flex-direction: column;
  flex-basis: 23%;
  gap: 2.4vw;
}

.column-gallery-flex img,
.column-gallery-flex video {
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .column-gallery-flex {
    flex-basis: 49%; /* Set the initial size to 40% minus the gap */
    gap: 5vw;
  }

  #gallery-flex {
    gap: 5vw;
  }
}

@media screen and (max-width: 600px) {
  .column-gallery-flex {
    flex-basis: 100%; /* Set the initial size to 100% */
    max-width: 100%; /* Set the maximum width to 100% */
    gap: 5vw;
  }

  #gallery-flex {
    gap: 5vw;
  }
}

/* Text boxes */

#text-with-max-width,
#text-with-max-width-50,
#text-left-padding,
.project-description,
p {
  font-size: clamp(0.9rem, 0.775rem + 0.5vw, 1.4rem);
  line-height: 1.6em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
}

#text-with-max-width-50,
#text-left-padding,
.project-description,
.project-header {
  max-width: clamp(30rem, 10rem + 32vw, 50rem);
}

#text-left-padding {
  padding-left: 1%;
}

/* Box styles */
.bento-box {
  display: flex;
  padding: 8% 4%;
  font-size: clamp(1.2rem, -0.5391rem + 2.7826vw, 2.8rem);
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bento-box:hover {
  transform: scale(1.02);
}

/* Icon styles */
.bento-box i {
  font-size: clamp(2.4rem, 1.8857rem + 1.3714vw, 3.6rem);
  margin-bottom: 1vw;
  padding: 1rem;
}

/* Responsive styles */
@media (max-width: 1000px) {
  .bento-box {
    flex: auto;
    padding: 8% 6%;
    letter-spacing: -0.5px;
  }
}

/* Grid */
.grid-container {
  display: grid;
  grid-gap: 2vw;
}

.grid-item-large {
  grid-column: span 2;
}

.full-size-item {
  grid-column: 1 / -1; /* Span across all columns */
}

.grid-container img {
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 5vw;
  }

  .grid-item-large {
    grid-column: span 1;
  }
}

/* Grid Styles */

#Two-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#Spotify-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#Spotify {
  color: var(--spotify-color);
  background-image: var(--spotify-background-image);
}

#Spotify i {
  color: #65d46e;
}

#Flytrex-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#Flytrex {
  color: var(--flytrex-color);
  background-color: var(--flytrex-background-image);
}

#Flytrex i {
  color: #595959;
}

@media (max-width: 1000px) {
  #text-with-max-width,
  #text-with-max-width-50,
  #text-left-padding,
  .project-description,
  .project-header,
  p {
    width: 100%;
    max-width: 100%;
  }
}

/* Shadow */
#light-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Logo image */
#logo_brand {
  background-color: #fff;
}

#logo_brand img {
  height: 40vw;
}

@media (max-width: 1000px) {
  #logo_brand img {
    height: 100%;
  }
}

/* Mobile */

@media (max-width: 1000px) {
  body {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 4%;
  }

  .project,
  .flex-container,
  .intro {
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: fit-content;
  }

  .intro {
    margin: 12vw 0 5vw 0;
    gap: 5vw;
  }
  .project-description {
    max-width: 100%;
  }

  .project-header {
    width: 100%;
  }

  .project-tag {
    font-size: 0.9em;
  }

  .project-gallery,
  .flex-container {
    gap: 5vw;
  }

  .flex-container #text-with-max-width,
  #text-with-max-width-50,
  #text-left-padding {
    width: 100%;
    max-width: fit-content;
    padding: 0;
  }
}

/* Footer */

footer {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  font-size: 1em;
}

.go-home-button,
.scroll-top-button {
  display: inline-block;
  font-family: DM Sans;
  height: 42px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  justify-content: center;
  border: 1.5px solid lightgray;
  border-radius: 50px;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: auto;
}

.go-home-button:hover,
.scroll-top-button:hover {
  background-color: lightgray;
  /*   color: #fff; */
}

.btn-read-more:active,
.scroll-top-button:active {
  background-color: orange;
  /*   color: #fff; */
}

.footer-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

footer p {
  margin-top: 3rem;
  font-size: 1rem;
  text-align: center;
}
