:root {
  /* Spotify Fanbase Styles */
  --spotify-color: #65d46e;
  --spotify-background-image: linear-gradient(to top, #121212, #232323, #04271a);

  /* Flytrex Styles */
  --flytrex-color: #595959;
  --flytrex-background-image: #fff2c7;

  /* Obituary Styles */
  --obituary-color: #855b42;
  --obituary-background-image: linear-gradient(to top, #f5ecdf, #fff6f0);

  /* Rubato Styles */
  --rubato-color: #9c5beb;
  --rubato-background-image: linear-gradient(to top, #ebe2f7, #fbf0ff);
}

/* Project styles */

.intro {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  margin: 5vw 0;
}

img, video {
  width: 100%;
}

video {
	border-radius: 24px;
}

/* Styles for the desktop image */
.desktop-image {
  display: block; /* Show the image on desktop */
}

/* Styles for the mobile image */
.mobile-image {
  display: none; /* Hide the image on mobile */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  /* Hide the desktop image on mobile */
  .desktop-image {
    display: none;
  }

  /* Show the mobile image on mobile */
  .mobile-image {
    display: block;
  }
}

.youtube-video {
  aspect-ratio: 16/9;
  width: 100%;
  border-radius: 24px;
  flex: 1;
  height: 0;
}

.project-gallery {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.flex-container-row {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  gap: 4vw;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  gap: 1.8vh;
  width: 48%;
  }

.flex-item, .column-gallery-flex img, .column-gallery-flex video {
  border-radius: 24px;
  object-fit: contain;
  width: 100%;
}

.flex-item {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}

.flex-item img {
  border-radius: 24px;
  object-fit: contain;
  width: 100%;
  height: auto;
}

#flex-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figcaption {
  padding-top: 1rem;
  color: var(--color-medium-text);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .figcaption {
    font-size: 1rem;
    padding: 0.8rem;
  }
}

/* Typo Gallery */
#gallery-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: space-between;
}

.column-gallery-flex {
  display: flex;
  flex-direction: column;
  flex-basis: 23%;
  gap: 2.4vw;
}

.column-gallery-flex img,
.column-gallery-flex video {
  vertical-align: middle;
  width: 100%;
  border-radius: 24px;
}

@media screen and (max-width: 768px) {
  .column-gallery-flex {
    flex-basis: 49%; /* Set the initial size to 40% minus the gap */
    gap: 5vw;
  }

  #gallery-flex {
    gap: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .column-gallery-flex {
    flex-basis: 100%; /* Set the initial size to 100% */
    max-width: 100%; /* Set the maximum width to 100% */
    gap: 5vw;
  }

  #gallery-flex {
    gap: 5vw;
  }
}

/* Text boxes */
#text-with-max-width,
#text-with-max-width-50,
#text-left-padding,
.project-description,
p {
  font-size: clamp(1rem, 1.6vw, 1.2rem);
  line-height: 1.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
}

/* Project container */
.project-container {
  padding: 8vw;
  margin-bottom: 1em;
  border-radius: 36px;
  background-color: var(--color-light-background);
  gap: 6vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

/* #text-left-padding {
  padding-left: 1%;
} */

/* Bento box styles */
.bento-box {
  display: flex;
  padding: 8%;
  font-size: clamp(1.2rem, 1.6vw, 2rem);
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.5px;
  text-align: center;
  border-radius: 24px;
  box-shadow: var(--shadow-elevation-low);
  transition: transform 0.1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Icon styles */
.bento-box i {
  font-size: clamp(2.4rem, 3vw, 3.4rem);
  margin-bottom: 1vw;
  padding: 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .bento-box {
    flex: auto;
    padding: 8%;
  }
}

/* Responsive Grid Styles */
.grid-container, #Two-grid, #Three-grid, #Four-grid {
  display: grid;
}

/* Grid Styles */

#Two-grid {
  grid-template-columns: repeat(2, 1fr);
}

#Three-grid {
  grid-template-columns: repeat(3, 1fr);
}

#Four-grid {
  grid-template-columns: repeat(4, 1fr);
}

.grid-container {
  grid-gap: 1.6vw;
  width: 100%;
}

.grid-item-large {
  grid-column: span 2;
}

.full-size-item {
  grid-column: 1 / -1; /* Span across all columns */
}

.grid-container img {
  /* height: 100%; */
  border-radius: 24px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 4vw;
  }

  .grid-item-large {
    grid-column: span 1;
  }

  #Four-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

/* About me */

#bio-card {
  align-items: start;
  text-align: left;
  font-weight: 400;
  justify-content: flex-start;
  display: flex;
  position: relative;
  padding: 8%;
  gap: 0.2em;
  border-radius: 36px;
  background-color: #f4f4f4;
  overflow: hidden;
  will-change: outline;
  transition: background-color 0.3s ease-out;
  box-shadow: var(--shadow-elevation-low);
}

#value-title {
  width: 100%;
}

/* Bento box colors */

#Spotify {
  color: var(--spotify-color);
  background-image: var(--spotify-background-image);
}

#Spotify i {
  color: var(--spotify-color);
}

#Flytrex {
  color: var(--flytrex-color);
  background-color: var(--flytrex-background-image);
}

#Flytrex i {
  color: var(--flytrex-color);
}

#Obituary {
  color: var(--obituary-color);
  background-image: var(--obituary-background-image);
}

#Obituary i {
  color: var(--obituary-color);
}

#Rubato {
  color: var(--rubato-color);
  background-image: var(--rubato-background-image);
}

#Rubato i {
  color: var(--rubato-color);
}

@media (max-width: 768px) {
  #text-with-max-width,
  #text-with-max-width-50,
  #text-left-padding,
  .project-description,
  .flex-container-column,
  div > p,
  h3 {
    max-width: 100%;
    width: 100%;
  }
}

/* Mobile */

@media (max-width: 1080px) {
  body {
    flex-direction: column;
    text-align: left;
    align-items: center;
  }

  .project-container {
    padding: 8vw 6vw;
    gap: 8vw;
  }
  .project-description {
    max-width: 100%;
  }

  .flex-container-column {
    width: 100%;
  }

  .project-gallery,
  .flex-container-row {
    gap: 5vw;
  }

  #text-with-max-width, #text-with-max-width-50, #text-left-padding, .project-description, .flex-container-column, div > p, h3 {
    max-width: 100%;
    width: 100%;
  }
}

#rubato-mockups {
  background: linear-gradient(35deg, #b78de4, #f0f0f0);
  border-radius: 24px;
}

.mockup-container {
  perspective: 1000px;
  position: relative;
  width: 100%;
  height: auto;  /* Adjust based on viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 6vw;
  min-height: 400px;
 transform-origin: center top; /* Set the origin of transformation at the top center */

  /* Apply the floating animation */
  animation: floatUpAndDown 2s infinite ease-in-out alternate;
}

/* Define the keyframes for the floating motion */
@keyframes floatUpAndDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px); /* Adjust this value to control the height of the float */
  }
}

.mockup {
  border-radius: 24px;
  box-shadow: var(--shadow-elevation-low),
    inset 2px 2px 8px rgba(255, 255, 255, 0.1),
    0 0 30px rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transform-origin: center center;
  transform-style: preserve-3d;
  width: 16vw;
  aspect-ratio: 9 / 20;
  transition: all 0.3s ease-in-out;
  outline: 4px ridge rgba(0, 0, 0, 0.06);
}

@media (max-width: 768px) {
.mockup{
    width: 100%;
    border-radius: 12px;
  }

  .mockup-container {
    padding: 0vw;
  }
}

.mockup:nth-child(1) {
  background-image: url('Rubato/rubato_mockup_1.png');
  transform: rotateY(30deg);
  left: 10%; /* Center horizontally */
  top: 4%; /* Center vertically */
}

.mockup:nth-child(2) {
  background-image: url('Rubato/rubato_mockup_2.png');
  transform: rotateY(20deg);
  left: 0%; /* Center horizontally */
  top: 0%; /* Center vertically */

}

.mockup:nth-child(3) {
  background-image: url('Rubato/rubato_mockup_3.png');
  transform: rotateY(10deg);
  left: -8%; /* Center horizontally */
  top: -4%; /* Center vertically */
}
