/* Font styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
a {
  font-family: var(--font-sans-serif);
}

/* Icon styles */
i {
  color: #333;
  font-size: 1.5em;
}

i:hover {
  cursor: pointer;
  background-color: lightgray;
}

i:active {
  background-color: orange;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Body styles */
body {
  --font-sans-serif: DM Sans, sans-serif;
  background-color: #fbfbfb;
  padding: 0 10%;
  line-break: auto;
  color: #333;
  margin-top: 3%;
}

body {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Header styles */
.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 3vh 0 10vh 0;
}

.header > * {
  flex: 0 0 auto; /* Remove the fixed size of the children */
}

.header img {
  width: 3rem;
}

.header a:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  justify-content: flex-end;
  flex-grow: 1;
}

nav i {
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

/* Media Queries */
@media (max-width: 1000px) {
  body {
    padding: 0 4%;
  }

  .header i {
    margin: 0 0.1em;
    font-size: 1.4em;
  }
}

/* Hero styles */
.hero {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: space-between;
  margin: 4em 0;
  gap: 4em;
  color: #333;
}

.bio {
  order: 1;
  display: flex;
  flex-direction: column;
  overflow: visible;
  text-overflow: ellipsis;
  font-size: clamp(2em, 3.5vw, 4em);
  flex-grow: 1;
}

.hero-text {
  margin: 0 0 1em 0;
}

.read-more {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.hero-bio {
  display: flex;
  align-items: start;
  background-color: #eee;
  padding: clamp(1.6rem, -8.6857rem + 16.4571vw, 16rem);
  border-radius: 10px;
  overflow-wrap: break-word;
  text-align: left;
  font-size: clamp(1rem, 0.8286rem + 0.6857vw, 1.6rem);
  margin: 0;
  justify-content: space-between;
  gap: 16%;
}

.hero-bio p {
  margin: 0;
  max-width: 32vw;
  line-height: 1.6em;
}

.hero-image {
  order: 2;
  width: 20vw;
  height: 100%;
  border: 2px solid lightgray;
  border-radius: 10px;
  box-sizing: border-box;
  object-fit: cover;
}

h2 {
  margin: 0 0 0.2em 0;
}

#my-paragraph {
  opacity: 1;
  max-height: 1200px;
  transition: opacity 0.6s ease, max-height 0.6s ease;
}

#my-paragraph.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition-delay: 0s, 0.2s; /* Add a delay only for max-height transition */
}

@media (max-width: 1000px) {
  #my-paragraph {
    max-height: none; /* Remove the max-height restriction on smaller screens */
  }
}

.hero-pill {
  display: inline-flex;
  align-items: center;
  margin: 0.2em 0 0 0;
  padding: 5px 28px;
  text-align: center;
  border-radius: 16px;
  background-color: #ff9900;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  color: #fff;
}

.hero-pill.changed {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transform: scale(
    1.05
  ); /* Apply a slight scale-up transform to enhance the animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Styling for the "read more" button */

.btn-read-more {
  display: inline-block;
  font-family: DM Sans;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  border: 1.5px solid lightgray;
  border-radius: 50px;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 10em;
}

.btn-read-more:hover {
  background-color: lightgray;
}

.btn-read-more:active {
  background-color: orange;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  .hero {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0.5em;
    margin: 2em 0;
  }

  .read-more {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .hero-pill {
    margin: 0.5em 0;
    font-size: clamp(2rem, -0.1349rem + 6.5395vw, 3rem);
  }

  .hero-bio {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    font-size: 20px;
    max-width: none;
    gap: 1em;
  }

  .hero-bio p {
    margin: 0;
    max-width: 100%;
    line-height: 1.6em;
  }
  .bio {
    align-items: center;
  }

  .hero-image {
    order: 1;
    width: 70%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 100%;
  }
}

/* Gallery Section */

a {
  text-decoration: none; /* Remove underline */
  /* color: inherit; Inherit the color from the parent */
  color: #595959;
}

a:hover {
  color: #333;
  font-weight: 500; /* Make the text bold on hover */
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2%;
  row-gap: 3em;
  margin: 0 auto;
}

.works > * {
  flex-basis: 100%;
}

@media (min-width: 769px) {
  .works > * {
    flex-basis: calc(100% / 3 - 2%);
  }
}

.works img {
  border: 2px solid lightgray;
  border-radius: 10px;
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  transition: transform 0.2s ease-out, border-color 0.2s ease-out;
}

.works img:hover {
  transform: scale(1.01);
  border-color: orange;
}

.works img:not(:hover) {
  transform: scale(1);
  border-color: lightgray;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.project-title {
  font-size: clamp(1.2rem, 0.7rem + 0.8vw, 1.6rem);
  margin: 0;
}

footer {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

footer p {
  margin-top: 3rem;
  font-size: 1rem;
  text-align: center;
}
