:root {
  --shadow-color: 30deg 3% 60%;
  --shadow-elevation-low:
    0.3px 0.5px 4px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 4px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 4px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -4px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);

}

html {
  scroll-behavior: smooth;
}

/* Font styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
a {
  font-family: var(--font-sans-serif);
  -webkit-font-smoothing: antialiased; /* Adjust font smoothing */
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Body styles */
body {
  --font-sans-serif: DM Sans, sans-serif;
  background: #fff;
  margin: 0 16%;
  line-break: auto;
  color: #333;
}

/* Scrollbar styles */

/* width */
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  /* box-shadow: inset 0 0 0 10px; */
  box-shadow: inset lightgray 0 0 0 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset #ff9900 0 0 0 10px;
}

iframe::-webkit-scrollbar {
  width: 0px;
}

iframe::-webkit-scrollbar-thumb {
  box-shadow: inset lightgray 0 0 0 10px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

/* Handle on hover */
iframe::-webkit-scrollbar-thumb:hover {
  box-shadow: inset #ff9900 0 0 0 10px;
}

/* Header styles */

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0 4vh 0;
}

.header > * {
  flex: 0 0 auto; /* Remove the fixed size of the children */
}

.header img {
  width: 3.2rem;
}

/* Logo styles */
.logo-link {
  display: inline-block;
  perspective: 2500px;
}

.logo-image {
  transition: transform 0.1s;
  transform-style: preserve-3d;
}

/* Material Icons */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

i {
  color: #333;
  font-size: 1.5em;
}

/* Media Queries */
@media (max-width: 1080px) {
  body {
    margin: 0 4vw;
  }

  .header img {
    width: 2.4rem;
  }
}

/* Hero styles */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.hero {
  margin: 0 0 8vw 0;
  order: 1;
  display: flex;
  flex-direction: column;
  overflow: visible;
  text-overflow: ellipsis;
  font-size: clamp(2.4em, 6vw, 6em);
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border: 2px solid rgba(255, 229, 181, 0.4);
  box-shadow: 0 8px 64px 0 rgba(255, 187, 0, 0.1),
  inset 0 2px 8px 0 rgba(255, 190, 93, 0.1),
  inset 0 16px 64px 0 rgba(255, 255, 255, 0.1);
  padding: 8vw;
  
  /* Updated background with radial gradient */
  background: radial-gradient(
    circle at center,
    #fff9f0 0%,
    #fff5e6 20%,
    #fff0dc 40%,
    #ffebd2 60%,
    #ffe6c8 80%,
    #ffe1be 100%
  );
  
  background-clip: padding-box;
  
  /* Animation properties */
  background-size: 200% 200%;
  animation: gradientAnimation 8s ease infinite;
}

#hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  padding: 8vw 0;
}

.hero-text {
  margin: 0em;
  line-height: 100%;
  text-align: center;
  animation-delay: 0.2s
}

@media only screen and (min-width: 1080px) {
  .mobile-only {
    display: none;
  }
}

.hero-bio {
  display: flex;
  overflow-wrap: break-word;
  text-align: left;
  font-size: clamp(1rem, 0.775rem + 0.5vw, 1.4rem);
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

}

.portrait-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Adjust as needed for horizontal alignment */
  align-items: center;
  gap: 0.6em;
  order: 2;
  width: 16vw;
}

.bio-container {
  display: flex;
  flex-direction: column;
  max-width: 26vw;
  min-width: 20em;
  line-height: 1.5em;
  gap: 0.6em;
}

.bio-container p {
  margin: 0;
}

.bio-container .button-container {
  justify-content: flex-start;
}

@media screen and (max-width: 1080px) {
  .bio-container .button-container {
    justify-content: center;
    align-items: center;
  }
}

.hero-image {
  height: 100%;
  border: 2px solid rgba(255, 229, 181, 0.4);
  border-radius: 16px;
  object-fit: cover;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Adjust as needed for horizontal alignment */
  gap: 0.4em;
}

/* Transition effect */

.hero {
  position: relative; /* Ensure the hero div is positioned relatively */
  opacity: 0;
  /* transform: translateY(20px); */
  }

.hero.loaded {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* Card styles */

.card {
  position: relative;
  width: 100%; /* Adjust size as needed */
  height: 100%; /* Adjust size as needed */
  perspective: 1000px;
  aspect-ratio: 1/1;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;

}

.front img, .back img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area without distortion */
  border-radius: 16px;

}

.back {
  transform: rotateY(180deg);
}

/* Flip effect on hover */
.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.hero-container {
  position: relative; /* Ensure the hero div is positioned relatively */
}

/* Responsive adjustments */
@media screen and (max-width: 1080px) {

  .portrait-container, .bio-container {
    width: 100%;
  }
}

/* Iframe styles */

.iframe-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  border-radius: 16px;
  overflow: hidden;
  border: 1.5px solid #ccc;
}

iframe {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  overflow-clip-margin: 0px !important;
  border-width: 0 !important;
}

/* Text styles */

h1 {
  font-size: clamp(2rem, 12vw, 5rem);
  margin: 0;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: 2px;
}

h2 {
  font-size: clamp(1.1rem, 4vw, 2.4rem);
  max-width: 80%;
  font-weight: 600;
}

h3 {
  font-size: clamp(2rem, 3vw, 2rem);
  font-weight: 600;
}

h2,
h3 {
  margin: 0;
  color: #595959;
}

p {
    letter-spacing: -0.1px;
}

@media (max-width: 1080px) {
  #my-paragraph {
    max-height: none; /* Remove the max-height restriction on smaller screens */
  }

  h2 {
    max-width: 100%;
  }
}

/* Styling for buttons */
.main-button,
.secondary-button,
.tertiary-button {
  display: inline-flex;
  gap: 0.5em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 24px;
  height: 3rem;
  transition: all 0.2s ease-out;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  padding: 0.5em 1em;
  background-color: transparent;
}

.main-button {
  padding: 0.5em 1.2em;
  font-size: 1.2rem;
  background-color: #ff9900;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-button:hover {
  background-color: #e68a00;
  transform: scale(1.02);
}

.main-button,
.secondary-button,
.tertiary-button:active {
  transform: scale(0.98);
}

.main-button i {
  margin-right: 0.5em;
  color: #f4f4f4;
}

.main-button::before,
.secondary-button::before,
.tertiary-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: opacity 0.2s, transform 0.2s;
}

.main-button:focus::before,
.secondary-button:focus::before,
.tertiary-button:focus::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.secondary-button {
  color: #333;
  border: 2px solid rgba(255, 153, 0, 0.7);
  font-size: 1.1rem;
}

.secondary-button:hover {
  background-color: rgba(255, 153, 0, 0.1);
  border-color: #ff9900;
}

.tertiary-button {
  color: #e68a00;
  font-size: 1.1rem;
}

.tertiary-button:hover {
  background-color: rgba(255, 153, 0, 0.1);
}

@media screen and (max-width: 1080px) {
  .main-button,
  .secondary-button,
  .tertiary-button {
    font-size: 1rem;
    gap: 0.3em;
    padding: 0em 0.8em;
    height: 40px;
    width: max-content;
  }
}

/* Media Queries */

@media screen and (max-width: 1080px) {

#hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  padding: 40vw 0;
}

  .hero-bio {
    flex-direction: column-reverse;
    align-items: center;
    text-align: left;
    font-size: 1.1rem;
    max-width: none;
    gap: 1em;
  }

  .bio-container {
    margin: 0;
    max-width: 100%;
    line-height: 1.6em;
    min-width: auto;
  }

  .card {
    /* order: 1; */
    width: 20vh;
    height: auto;
    margin-bottom: 20px;
  }

  .hero-image {
    border-radius: 100%;
  }
}

/* Gallery Section */

a {
  text-decoration: none; /* Remove underline */
  color: #595959;
  /* display: flex; */
  text-decoration: none; /* Removes underline if not desired */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  border: none; /* Optionally remove any borders applied by the browser */
  background-color: transparent; /* Optionally ensure it doesn't have a background color */
}

a:hover {
  color: #ff9900;
}

.works a:hover {
  color: transparent;
}

.hero a {
  line-height: 0;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6vw;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
}

@media (max-width: 768px) {
  .works {
    grid-template-columns: repeat(1, 1fr);
    gap: 4vw;
  }
}

.works img {
  order: 2;
  border-radius: 24px;
  object-fit: cover;
  width: 28%;
  height: auto;
  aspect-ratio: 1/1;
  border: 2px solid rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
  will-change: transform, box-shadow, border;
}

/* Projects Section */

.project {
  opacity: 0;
  transform: translateY(50px);
}

.project {
  display: flex;
  flex-direction: row;
  align-items: start;
  position: relative;
  padding: 2vw;
  gap: 2em;
  border-radius: 24px;
  /* font-size: 24px; */
  background-color: #f4f4f4;
  justify-content: space-between;
  overflow: hidden;
  will-change: outline;

  /* Prepare for an animated change in properties */
  transition: background-color 0.3s ease-out;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.5s ease-out;
    transform: translateX(50%); /* Simplify the transform */
    will-change: transform, opacity, outline; /* Optimizes animations */ }

  &:hover::before {
    opacity: 1;
    transform: translateX(0%);
  }
}

.project:hover {
  transition: outline 0.1s ease-out;
    outline: 2px solid rgba(0, 0, 0, 0.1);
  }

.project:hover img {
      /* transform: translate3d(0, -0px, 0) scale(1.015); */
      box-shadow: var(--shadow-elevation-low);
}

.project img {
  will-change: transform, box-shadow;
}

#flytrex-project::before {background-image: radial-gradient(circle 40vw at 100% 20%, rgb(255, 229, 142), rgba(255, 255, 255, 0));}
#Fanbase-project::before {background-image: radial-gradient(circle 40vw at 100% 20%, rgb(143, 236, 153), rgba(255, 255, 255, 0));}
#obituary-project::before {background-image: radial-gradient(circle 40vw at 100% 20%, rgb(218, 185, 164), rgba(255, 255, 255, 0));}
#rubato-project::before {background-image: radial-gradient(circle 40vw at 100% 20%, #d5b8f0, rgba(255, 255, 255, 0));}
#steps-project::before {background-image: radial-gradient(circle 40vw at 100% 20%, #f69778, rgba(255, 255, 255, 0));}
#typo-project::before {background-image: radial-gradient(circle 40vw at 100% 20%, #ca69cc, rgba(255, 255, 255, 0));}

@media (max-width: 768px) {
  #flytrex-project::before {background-image: radial-gradient(circle 80vw at 100% 0%, rgb(255, 229, 142), rgba(255, 255, 255, 0));}
#Fanbase-project::before {background-image: radial-gradient(circle 80vw at 100% 0%, rgb(143, 236, 153), rgba(255, 255, 255, 0));}
#obituary-project::before {background-image: radial-gradient(circle 80vw at 100% 0%, rgb(218, 185, 164), rgba(255, 255, 255, 0));}
#rubato-project::before {background-image: radial-gradient(circle 80vw at 100% 0%, #d5b8f0, rgba(255, 255, 255, 0));}
#steps-project::before {background-image: radial-gradient(circle 80vw at 100% 0%, #f69778, rgba(255, 255, 255, 0));}
#typo-project::before {background-image: radial-gradient(circle 80vw at 100% 0%, #ca69cc, rgba(255, 255, 255, 0));}
}


 .project-title {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  order: 1;
  margin: 0;
  width: 42%;
  padding: 1% 2%;
}


#category-title {
  background-color: transparent;
  outline: transparent;
  padding: 0 2vw;
}

.project-header {
  color: #333;
  font-size: clamp(2rem, 2.2vw, 2.6rem);
  margin: 0;
}

.project-sub {
  color: #595959;
  line-height: 150%;
  font-size: clamp(1.2rem, 1.2vw, 1.6rem);
  margin: 0;
}


/* Responsive Styles for Mobile Devices */
@media (max-width: 768px) {
  .project {
    flex-direction: column;
    gap: 1em;
    padding: 1.6em;
  }

  .project-title {
    width: 100%; /* Adjust title width to fit mobile screens */
    order: 2; /* Assuming you might want to change the visual order on mobile */
    gap: 0.4em;
  }

  .project-header {
    font-size: clamp(1.6rem, 4vw, 1.8rem);
  }

  .project-sub {
    font-size: clamp(1.1rem, 3vw, 1.2rem);
  }

  .project::before {
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.8s ease-out;
  }

  .project.scrolled::before {
    transform: translateX(0%);
    opacity: 1;
  }

  .works img {
    width: 100%;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  line-height: 150%;
}

.footer-buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

footer p {
  font-size: 16px;
  margin-top: 4rem;
  text-align: center;
}