/* Font styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
a {
  font-family: var(--font-sans-serif);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Icon styles */

/* Body styles */
body {
  --font-sans-serif: DM Sans, sans-serif;
  background-color: #fbfbfb;
  padding: 0 10%;
  line-break: auto;
  color: #333;
  margin-top: 3%;
}

/* Header styles */
.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 3vh 0 10vh 0;
}

.header > * {
  flex: 0 0 auto; /* Remove the fixed size of the children */
}

.header img {
  width: 3rem;
}

.header a:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  justify-content: flex-end;
  flex-grow: 1;
}

nav i {
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  color: #333;
  font-size: 1.5em;
}

nav i:hover {
  cursor: pointer;
  background-color: lightgray;
}

nav i:active {
  background-color: orange;
}

/* Media Queries */
@media (max-width: 1000px) {
  .header i {
    margin: 0 0.1em;
    font-size: 1.4em;
  }
}

/* Project styles */

h1 {
  font-size: clamp(2rem, 12vw, 8rem);
  margin: 0;
}

h2 {
  margin: 0;
  font-size: clamp(1.4rem, 4vw, 3rem);
  color: #595959;
  max-width: 50%;
}

h3 {
  font-size: clamp(2rem, 3vw, 2rem);
  color: #595959;
  margin: 0;
}

@media (max-width: 1000px) {
  h2 {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.spacer {
  flex: 1; /* Set flex property to 1 to distribute remaining space evenly */
  padding-top: 2vw; /* Adjust the percentage value as needed */
}

.genretag {
  text-align: center;
  letter-spacing: 0.4px;
  background-color: #eee;
  border-radius: 40px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  width: fit-content;
}

.project {
  display: flex;
  flex-direction: column;
  margin: 5vh 0;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 3vh;
}

p {
  font-size: clamp(1rem, 0.8286rem + 0.6857vw, 1.6rem);
  line-height: 1.6em;
  margin: 0;
}

.description {
  max-width: 46%;
  font-size: clamp(1rem, 0.8286rem + 0.6857vw, 1.6rem);
}

img {
  width: 100%;
}

video {
  width: 100%;
  border-radius: 10px;
}

.project-gallery {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.flex-container {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  gap: 2vw;
}

.project-header {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 40%;
}

.item1 {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

.item1 img {
  border-radius: 10px;
  object-fit: contain;
  width: 100%;
  height: auto;
  flex-grow: 1;
}

#flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 23%;
  gap: 2.4vw;
}

.column img {
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

.column video {
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .column {
    flex-basis: 49%; /* Set the initial size to 40% minus the gap */
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex-basis: 100%; /* Set the initial size to 100% */
    max-width: 100%; /* Set the maximum width to 100% */
    gap: 4vw;
  }

  #flexbox {
    gap: 4vw;
  }
}

#text-with-max-width {
  font-size: clamp(1rem, 0.8286rem + 0.6857vw, 1.6rem);
  line-height: 1.6em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#text-with-max-width-50 {
  max-width: 40%;
  font-size: clamp(1rem, 0.8286rem + 0.6857vw, 1.6rem);
  line-height: 1.6em;
}

#text-card {
  max-width: 40%;
  font-size: clamp(1rem, 0.8286rem + 0.6857vw, 1.6rem);
  line-height: 1.6em;
  padding-left: 1%;
}

.figcaption {
  padding-top: 1rem;
  color: #595959;
}

#logo {
  background-color: #fff;
}

#logo img {
  height: 40vw;
}

@media (max-width: 1000px) {
  body {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 4%;
  }

  .project {
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: fit-content;
  }

  .intro {
    text-align: center;
    align-items: center;
  }

  .description {
    max-width: 100%;
  }

  .project-header {
    width: 100%;
  }

  .genretag {
    font-size: small;
    margin: 2% 0;
  }
  .flex-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5vh;
  }

  .flex-container #text-with-max-width,
  #text-with-max-width-50,
  #text-card {
    width: 100%;
    max-width: fit-content;
    padding: 0;
  }
}

footer {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  font-size: 1em;
}

.go-home-button,
.scroll-top-button {
  display: inline-block;
  font-family: DM Sans;
  height: 42px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  justify-content: center;
  border: 1.5px solid lightgray;
  border-radius: 50px;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: auto;
}

.go-home-button:hover,
.scroll-top-button:hover {
  background-color: lightgray;
  /*   color: #fff; */
}

.btn-read-more:active,
.scroll-top-button:active {
  background-color: orange;
  /*   color: #fff; */
}

.footer-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

footer p {
  margin-top: 3rem;
  font-size: 1rem;
  text-align: center;
}
